html {
height: 100%;
padding: 0;
margin: 0;
}
body {
    background-color: #ABC403;
    height: 94%;
    width: 90%;
    margin: 5% 5% 1% 5%;
    padding: 0;
}

#svg_holder {
	width:100%;
	height:100%;
}

#rotator {
	width:100%;
	height:100%;
}
.login-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E6F14A;
    font-family: futura;
    font-size: xx-large;
    text-align: center;
    width: 80%;
    opacity: 0.75;
    padding: 10% 10% 10% 10%;
}

.login-bg div.error-msg {
    color: #DF4BF2;
    text-align: left;
}

.login-bg div {
    margin: auto;
    text-align: left;
    width: 100%;
}

.login-bg label {
    text-align: right;
    color: #503953;
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.login-bg input {
    width: 60%;
    font-size: xx-large;
    background-color: #503953;
    color: #E6F14A;
    border: 0px solid;
}

.login-bg button {
    font-size: xx-large;
    background-color: #503953;
    color: #E6F14A;
    width: 100%;
    float: left;
    border: 0px solid;
    padding: 10px;
    margin: 5% 0% 5% 0%;
}

.login-bg *:focus {
	border: 0px solid;
	background-color: #DF4BF2;
}